<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sim.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sim.Themes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sim.Gui.Properties.Settings>
            <setting name="ColorControl" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ColorHighLight" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="AeroGlass" serializeAs="String">
                <value>False</value>
            </setting>
        </Sim.Gui.Properties.Settings>
        <Sim.Themes.Properties.Settings>
            <setting name="ColorControl" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ColorHighLight" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
        </Sim.Themes.Properties.Settings>
    </userSettings>
</configuration>